/* --------------------------------------------------------------------------------------
This set of fonts are used in this project under the license: (B6K57Y)
-------------------------------------------------------------------------------------- */

@font-face {
  font-family: IRANSans;
  font-style: normal;
  font-weight: normal;
  src: url('./IRANSansWeb.woff') format('woff');
}

@font-face {
  font-family: IRANSans;
  font-style: normal;
  font-weight: normal;
  src: url('./IRANSansWeb.eot') format('eot');
}

@font-face {
  font-family: IRANSans;
  font-style: normal;
  font-weight: normal;
  src: url('./IRANSansWeb.ttf') format('ttf');
}
